<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.

<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>
-->

<ion-content class="login" padding>
  <ion-grid>
    <ion-row>
      <img src="img/Name.png" class="center">
    </ion-row>
    <ion-row>
      <img src="img/Logo3D.png" class="center">
    </ion-row>
    <div class="login-inputs" *ngIf="!showRegister">
      <ion-grid>
        <ion-row>
          <ion-col width-10><img src="img/Male User.png" class="icon-login"></ion-col>
          <ion-col>
          <ion-item><ion-input type="text" placeholder="Usuario"></ion-input></ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-10><img src="img/Lock .png" class="icon-login"></ion-col>
          <ion-col>
            <ion-item><ion-input type="password" placeholder="Contraseña" ></ion-input></ion-item></ion-col>
        </ion-row>
      </ion-grid> 
    </div>
    <div class="register-inputs" *ngIf="showRegister">
      <ion-grid>
        <ion-row>
          <ion-col width-10><img src="img/Male User.png" class="icon-login"></ion-col>
          <ion-col><ion-item><ion-input type="text" placeholder="Usuario"></ion-input></ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-10><img src="img/Message.png" class="icon-login"></ion-col>
          <ion-col><ion-item><ion-input type="text" placeholder="Correo Electronico"></ion-input></ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-10><img src="img/Lock .png" class="icon-login"></ion-col>
          <ion-col><ion-item><ion-input type="password" placeholder="Contraseña"></ion-input></ion-item></ion-col>
        </ion-row>
        <ion-row>
          <ion-col width-10><img src="img/Lock .png" class="icon-login"></ion-col>
          <ion-col><ion-item><ion-input type="password" placeholder="Confirmar Contraseña"></ion-input></ion-item></ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <ion-row>
      <button clear class="center" (click)="toggleLogin()">{{btnText}}</button>
    </ion-row>
  </ion-grid>


</ion-content>
